<h2>Formular adaugare editura</h2>
<form method="post" action="">
	<label>Nume editura</label>
	<br />
	<input type="text" name="Name" />
	<br /><br />
	<label>Autori</label>
	<br />
	<input type="text" name="Authors" />
	<br />
	<br />
	<button type="submit">Adauga student</button>
</form>