<h2>Formular adaugare autor</h2>
<form method="post" action="/Authors/New">
	<label>Nume</label>
	<br />
	<input type="text" name="Name" />
	<br />
	<br />
	<button type="submit">Adauga student</button>
</form>