<h2>Formular adaugare carte</h2>
<form method="post" action="/Books/New">
	<label>Nume</label>
	<br />
	<input type="text" name="Title" />
	<br /><br />
	<label>Autori</label>
	<br />
	<input type="text" name="Authors" />
	<br /><br />
	<label>Editura</label>
	<br />
	<input type="text" name="Publisher" />
	<br />
	<br />
	<button type="submit">Adauga student</button>
</form>